body{
    background-color: rgb(108, 47, 133);
    }
    
    .container{
    background-color: rgba(200, 200, 200);
    max-width:960px;
    }
    
    .bluebg{
    background-color: rgb(200, 200, 200);
    font-size:150%;
    }

    .paakuva{
    display: inline-block;
    width: 100%; 
    height: auto;
    }

    .leijona{
    display:inline;
    width: 20%; 
    height: auto;
    }

    
    h1{
        
        font-size: "200px";
        display:inline;
        font-family:'Comic Sans';
    }

    a{
        color:black;
        
    }
    footer{
        font-size: large;
        
        
    }
    