h1{
    color: rgb(255, 0, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 50px;
}

header{
    color:rgb(255, 0, 191);
    font-size: 50px;
    font-family: 'Comic Sans;
}

content{
    color:blue;
    font-size: 50px;
    font-family: 'Comic Sans;
}

p{
    color:rgb(128, 0, 0);
    font-size: 50px;
}

h1.warning , note{
    color:blue;
    background:yellow;
}

#note1{
    color:green;
    font-size: 50px;

}

.comment{
border: 4px solid#666;
padding: 5px;
background-color: rgba(255, 251, 0, 0.548);
}

article > p{

    font-weight: bold;
    color: red;
}