header{
    background-color: rgb(1, 43, 0);
}

.flexContainer > div, .flexcolumn > div {
    background-color: rgb(1, 43, 0);
    margin:10px;
    line-height:50px;
    font-size:30px;
    display:flex; 
    align-content: space-between;
}

.flexContainer{
    display:flex;
    background-color: rgb(1, 43, 0);
    align-content:space-between;
    flex-wrap:wrap;
    
}

.flexcolumn{
    display: flex;
    background-color: rgb(1, 43, 0);
    flex-direction: column;
    width: 100%;
}
.box{
    float:right;
    background-color: rgb(1, 43, 0);
    min-height: 1300px;
    width:300px;
    color:white;
    
}
p{
    font-family:"Arial";
    color:white;
       
}
footer{
    background-color: rgb(1, 43, 0);
    color:white;
    height:100;
}
img{
    width:auto;
}
a{
    color:white;

}
body{
    background-color: rgb(0, 34, 0);
}
h1{
    color:white;
}
.razer1{
    display: inline-block;
    width: 50%; 
    height: auto;
}

.razer2{
    display: inline-block;
    width: 50%; 
    height: auto;
}

.ylakuva{
    display: inline-block;
    width: 100%; 
    height: auto;
}


