body{
    font-family: 'Comic Sans';
    background-color: pink;
    
}

h1{
    color:rgba(255, 0, 0, 0.692);
    font-size: 16px;
    background-color: rgb(247, 214, 108);
    border-bottom: 4px solid#666;
}

p{
    font-size: 20px;
    color:green;
}

a:hover{
  color:Green;
  font-family: 'Comic Sans';
}

figure{
    text-align:right;
}